.button1{
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.button2{
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}